In [1]:
import pandas as pd

In [12]:
df1= pd.read_csv('./다행히개인폴더/1인가구도로율수정본(취합) - 도로율재점검.csv')
df2= pd.read_csv('./다행히개인폴더/교차로_최종.csv - 시트1.csv')

In [16]:
df1

,행정동,구_x,행정동코드,1인가구,생활인구,동면적,도로율,도로면적,행정동.1,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,강남신사,강남구,11680510,1094.0,75610,2.53,0.2406,0.617358,가락동,NaN,NaN,NaN,NaN,NaN
1,개포동,강남구,11680660,3888.0,49830,5.27,0.2406,1.267962,가리봉동,NaN,NaN,NaN,NaN,NaN
2,논현동,강남구,11680521,11739.0,88619,2.72,0.2406,0.654432,가산동,NaN,NaN,NaN,NaN,NaN
3,대치동,강남구,11680600,6426.0,119943,3.52,0.2406,0.846912,가양동,NaN,NaN,NaN,NaN,NaN
4,도곡동,강남구,11680655,3280.0,65611,2.04,0.2406,0.490824,가회동,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,면목동,중랑구,11260565,22193.0,113863,6.01,0.2601,1.563201,회현동,NaN,NaN,NaN,NaN,NaN
198,묵동,중랑구,11260620,6790.0,44265,1.87,0.2601,0.486387,효창동,NaN,NaN,NaN,NaN,NaN
199,상봉동,중랑구,11260580,7686.0,43730,1.53,0.2601,0.397953,후암동,NaN,NaN,NaN,NaN,NaN
200,신내동,중랑구,11260680,2426.0,34433,2.56,0.2601,0.665856,휘경동,NaN,NaN,NaN,NaN,NaN
201,중화동,중랑구,11260600,2353.0,16755,0.64,0.2601,0.166464,흑석동,NaN,NaN,NaN,NaN,NaN

In [21]:
df1 =df1.drop(columns=['행정동.1','Unnamed: 9','Unnamed: 10',	'Unnamed: 11','Unnamed: 12','Unnamed: 13'])
df1

      행정동  구_x     행정동코드     1인가구    생활인구   동면적     도로율      도로면적
0    강남신사  강남구  11680510   1094.0   75610  2.53  0.2406  0.617358
1     개포동  강남구  11680660   3888.0   49830  5.27  0.2406  1.267962
2     논현동  강남구  11680521  11739.0   88619  2.72  0.2406  0.654432
3     대치동  강남구  11680600   6426.0  119943  3.52  0.2406  0.846912
4     도곡동  강남구  11680655   3280.0   65611  2.04  0.2406  0.490824
..    ...  ...       ...      ...     ...   ...     ...       ...
197   면목동  중랑구  11260565  22193.0  113863  6.01  0.2601  1.563201
198    묵동  중랑구  11260620   6790.0   44265  1.87  0.2601  0.486387
199   상봉동  중랑구  11260580   7686.0   43730  1.53  0.2601  0.397953
200   신내동  중랑구  11260680   2426.0   34433  2.56  0.2601  0.665856
201   중화동  중랑구  11260600   2353.0   16755  0.64  0.2601  0.166464

[202 rows x 8 columns]

In [22]:
df2

      행정동  사망자수  중상자수  경상자수  교차로  단일
0     가락동     0    67     4   44  20
1    가리봉동     3    17     3   13   7
2     가산동     4    37    11   20  19
3     가양동     2    20     4   12   9
4     가회동     0     3     0    2   1
..    ...   ...   ...   ...  ...  ..
199   회현동     0     7     3    2   3
200   효창동     0     6     1    4   1
201   후암동     0     7     1    2   3
202   휘경동     1    30     2   14  17
203   흑석동     1    16     2    5   9

[204 rows x 6 columns]

In [23]:
df3= pd.merge(df1,df2,on='행정동', how='outer')
df3

,행정동,구_x,행정동코드,1인가구,생활인구,동면적,도로율,도로면적,사망자수,중상자수,경상자수,교차로,단일
0,강남신사,강남구,11680510,1094.0,75610,2.53,0.2406,0.617358,1,51,7,22,23
1,개포동,강남구,11680660,3888.0,49830,5.27,0.2406,1.267962,0,39,12,24,15
2,논현동,강남구,11680521,11739.0,88619,2.72,0.2406,0.654432,0,139,27,49,67
3,대치동,강남구,11680600,6426.0,119943,3.52,0.2406,0.846912,3,94,7,41,52
4,도곡동,강남구,11680655,3280.0,65611,2.04,0.2406,0.490824,1,40,9,22,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,면목동,중랑구,11260565,22193.0,113863,6.01,0.2601,1.563201,3,154,26,71,75
200,묵동,중랑구,11260620,6790.0,44265,1.87,0.2601,0.486387,0,50,8,27,18
201,상봉동,중랑구,11260580,7686.0,43730,1.53,0.2601,0.397953,0,71,12,41,26
202,신내동,중랑구,11260680,2426.0,34433,2.56,0.2601,0.665856,0,42,11,19,18
203,중화동,중랑구,11260600,2353.0,16755,0.64,0.2601,0.166464,0,60,5,20,37

In [25]:
df3.to_csv('./2차전처리본_도로율수정.csv', encoding='utf-8', index=False)